<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="bi bi-watch"></i>  Watch and Sell </strong> by 
      <a class="text-decoration-none" href="https://github.com/">John Seely</a> 
      <a class="text-decoration-none" href="https://github.com/">Elsa Soprano</a>
      <a class="text-decoration-none" href="https://github.com/">Robert Routheir</a> | source code:
      <a class="text-decoration-none" href="https://github.com/"><i class="fab fa-github"></i></a> 
    </p>
  </div>